.sign_in_page {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign_in_div {
  align-self: center;
  box-shadow: -4px 4px 14px 1px #a5a5a5;
  border-radius: 5px;

  height: 60%;
  width: 35%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 50px;
}

.sign_in_div input {
  all: none;
  border: unset;
  border-bottom: 0.5px solid black;
  padding: 2px 1px;
  font-size: 15px;
  width: 100%;
}
.sign_in_div input:focus {
  outline: none;
}

.sign_in_div input::placeholder {
  font-size: 15px;
  letter-spacing: 1px;
}

.sign_in_div section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.head_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.head_part span {
  font-size: 3vw;
}

.head_part label {
  font-size: 2vw;
}

.forget_pass_button {
  all: unset;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: bold;
}

.or_class hr {
  all: unset;
  border-bottom: #979797 1px solid;
  width: 30%;
  position: relative;
  top: 1px;
}
.or_class {
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #979797;
}
