footer {
  display: flex;
  justify-content: center;
  gap: 5vw;
  padding: 20px 0px;
  font-size: 1.2vw;

  border-top: #97979787 0.2px solid;
}

footer button:hover {
  scale: 1.02;
  transition: 0.5s;
}
