.popular_restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-bottom: 50px;
}
.popular_restaurant span {
  margin-bottom: 50px;
  font-size: 2.5vw;
}
.popular_restaurant_cards {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;

  width: 100%;
}

.popular_restaurant button {
  align-self: flex-end;

  font-family: "HelveticaNeue-Medium";

  margin: 30px calc(50vw - 27vw - 13.5vw - 20px) 0px 0px;

  font-size: min(2.5vw, 25px);
}
