* {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light";
}

.logo {
  height: 33px;
}

#logo-button-id {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 33px;
}
#logo-button-id :nth-child(2) {
  height: 20px;
}

button {
  all: unset;
  height: 24px;
}

button:hover {
  cursor: pointer;
}

.navbar {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 8vw;

  background-color: white;
  z-index: 10;

  position: sticky;
  top: 0px;

  border-bottom: #97979787 0.2px solid;
}

.menu-left,
.menu-right {
  display: flex;
  gap: clamp(20px, 1.8vw, 32px);
}
.menu-right-icons {
  display: flex;
  align-items: center;
  gap: clamp(20px, 1.8vw, 32px);
}
.menu-right {
  align-items: center;
}
.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  font-size: 18px;
  text-align: center;
}

.menu-icons {
  height: 24px;
}

.menu-right input {
  all: unset;
  text-align: start;
  width: 24px;
  height: 41px;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url("../../../public/assets/logos/search_button.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding: 0px 40px 0px 10px;
  transition: width 0.4s ease-out;
  -webkit-transition: width 0.4s ease-out;
  font-size: 18px;
}

.menu-right input:hover {
  cursor: pointer;
}

.menu-right input:focus {
  background-position: 99%;
  width: 410px;
  border: 0.5px black solid;
  cursor: text;
}

.menu-right input::placeholder {
  font-size: 18px;
}

.menu-left a {
  position: relative;
}

.notActive:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 1.8px;
  background-color: #de9000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.17s ease-in-out;
}

.notActive:hover:before {
  transform: scaleX(1);
}

.underline {
  border-bottom: #de9000 2.8px solid;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.notActive {
  all: unset;
  cursor: pointer;
}

.hamburger_menu {
  display: none;
}

.menu-left-mobile {
  display: none;
}

.hamburger-button {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalShoppingBag {
  position: absolute;
  top: 64px;
  right: 0;
}

@media screen and (max-width: 500px) {
  .navbar {
    position: sticky;
    top: 0;
    height: 46px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  #logo-button-id :nth-child(1) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #logo-button-id :nth-child(2) {
    display: none;
  }
  .menu-left {
    z-index: -10 ;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 44px;
    display: none;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 7px 9px 1px rgb(13 11 11 / 17%);
  }


  .menu-left-mobile {
    display: flex;
  }

  .menu-left hr {
    width: min(100%, 350px);
  }

  .underline {
    border: none;
  }
  .notActive:before {
    background-color: transparent;
  }
  .menu {
    justify-content: flex-end;
    width: fit-content;
    padding: 0;
    width: 100%;
  }
  .menu-right input:focus {
    width: 30%;
  }

  .menu-right {
    width: inherit;
    justify-content: space-between;
  }

  .pressing {
    display: flex;
    align-items: center;
  }
  .hamburger-button {
    display: unset;
  }

  .menu-left.show {
    animation: slideDown 0.7s forwards;
    display: flex;
    z-index: -1;

  }

  .menu-left.no_show {
    animation: slideUp 0.8s forwards;
    display: flex;
    z-index: -1;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-130%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-130%);
    }
  }



.box {
  border-radius: 2px;
  width: 50px;
  height: 50px;
  scale: 0.45;
}

.menu_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  cursor: pointer;
}

.hamburger_span {
  display: block;
  width: 80%;
  border-radius: 3px;
  height: 2px;
  background: black;
  transition: all .3s;
  position: relative;
}

.hamburger_span + .hamburger_span {
  margin-top: 20px;
}

.active .hamburger_span:nth-child(1) {
  animation: ease .7s top forwards;
}

.not-active .hamburger_span:nth-child(1) {
  animation: ease .7s top-2 forwards;
}

.active .hamburger_span:nth-child(2) {
  animation: ease .7s scaled forwards;
}

.not-active .hamburger_span:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}

.active .hamburger_span:nth-child(3) {
  animation: ease .7s bottom forwards;
}

.not-active .hamburger_span:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


}
