* {
  font-family: "HelveticaNeue-Thin";
  font-weight: 200;
}

h1 {
  margin: 0;
  font-size: 1rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-family: "HelveticaNeue-Light";
  font-size: 1.8rem;
}

a {
  all: unset;
}
a:hover {
  cursor: pointer;
}

@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url("./fonts/HelveticaNeue-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("./fonts/HelveticaNeue-Light.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("./fonts/HelveticaNeue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Neu-Bold";
  src: url("./fonts/Helvetica-Neu-Bold.ttf") format("truetype");
}
